<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- jQuery + DataTables CDN -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.css') }}" />
  <!-- TODO: Add favicon and dynamic title depending on page youre in -->
  <title>CoopManati</title>
</head>

<body class="bg-white text-white">
  {% if 'username' in session %}




  <div id="dropdownMenu"
    class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <form method="POST" action="{{ url_for('logout') }}" role="none">
        <button type="submit" class="flex items-center gap-x-2 text-gray-700 block w-full px-4 py-2 text-left text-sm"
          role="menuitem" tabindex="-1" id="menu-item-3">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </form>
    </div>
  </div>


  {% endif %} {% block content %}{% endblock %}

  <script>
    const menuButton = document.getElementById("menu-button");
    const dropdownMenu = document.getElementById("dropdownMenu");

    menuButton.addEventListener("click", function () {
      dropdownMenu.classList.toggle("hidden");
    });

    document.addEventListener("click", function (event) {
      const isClickInside =
        dropdownMenu.contains(event.target) ||
        menuButton.contains(event.target);

      if (!isClickInside) {
        dropdownMenu.classList.add("hidden");
      }
    });
  </script>
</body>

</html>