{% extends 'base.html' %}

{% block content %}
<!--LOGO -->
<div class="logo-container absolute left-1/2 transform -translate-x-1/2">
    <img class=" w-auto  h-20 sm:h-16 xs:h-12" src="{{ url_for('static', filename='images/logo-coopmanati.jpg') }}"
        alt="CoopManati Logo" class="h-20 w-auto">
</div>

<!--HEADER BAR-->
<div class="header-bar w-full">

    <div class="w-full h-full"
        style="left: 0px; top: 10px; position: absolute; background: var(--golden-manati, #C8AC64)">
    </div>
    <div class="w-full h-5" style="left: 0; top: 0px; position: absolute; background: var(--teal-manati, #45545F)">
    </div>
</div>
<div class="min-h-screen flex items-center justify-start bg-white flex-col pb-24 pt-10 overflow-y-auto">
    <div style="margin-top: 100px;" class="forgot-pass-card shadow-lg p-4 rounded-md max-w-md w-full">
        <h2 class="text-lg font-semibold mb-2 text-white text-center">Change password</h2>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="space-y-2 mb-4">
            {% for category, message in messages %}
            <div class="p-3 rounded-md text-white
                    {% if category == 'success' %} bg-green-600
                    {% elif category == 'warning' or category == 'info' %} bg-yellow-500
                    {% else %} bg-red-600 {% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form action="/change_pass" method="post" class="space-y-4">
            <div class="relative">
                <label for="email" class="block text-sm font-medium text-gray-400">Email</label>
                <input type="email" id="email" name="email"
                    class="form-input block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 text-gray-700">
                <i class="fas fa-user absolute top-7 right-4 text-gray-500"></i>
            </div>
            <div class="relative">
                <label for="old_password" class="block text-sm font-medium text-gray-400">Old Password</label>
                <input type="password" id="old_password" name="old_password"
                    class="form-input block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 text-gray-700">
                <i class="fas fa-lock absolute top-7 right-4 text-gray-500"></i>
                <i class="fas fa-eye absolute top-7 right-10 text-gray-500 cursor-pointer"
                    onclick="togglePasswordVisibility('old_password', this)"></i>
            </div>
            <div class="relative">
                <label for="new_password" class="block text-sm font-medium text-gray-400">New Password</label>
                <input type="password" id="new_password" name="new_password"
                    class="form-input block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 text-gray-700">
                <i class="fas fa-lock absolute top-7 right-4 text-gray-500"></i>
                <i class="fas fa-eye absolute top-7 right-10 text-gray-500 cursor-pointer"
                    onclick="togglePasswordVisibility('new_password', this)"></i>
            </div>
            <div class="relative">
                <label for="confirm_new_password" class="block text-sm font-medium text-gray-400">Confirm New
                    Password</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password"
                    class="form-input block w-full px-3 py-2 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 text-gray-700">

            </div>
            <button type="submit"
                class="confirm-pass w-full text-white py-2 px-4 rounded-md transition duration-300">Confirmar</button>
        </form>

    </div>
    <p style="color: var(--golden-manati);" class="text-center mt-2"><a href="{{ url_for('login') }}"
            style="color: var(--golden-manati)" class="text-sm hover:underline">Regresar</a>
    </p>

</div>

<!--FOOTER BAR-->
<footer class="fixed bottom-0 left-0 right-0 h-8 z-20">

    <div class="w-full h-full" style="left: 0; top: 0px; position: absolute; background: var(--golden-manati, #C8AC64)">
    </div>
    <div class="w-full h-full"
        style="left: 0px; top: 10px; position: absolute; background: var(--teal-manati, #45545F)">
    </div>
</footer>

<script>
    function togglePasswordVisibility(fieldId, eyeIcon) {
        const field = document.getElementById(fieldId);
        if (field && eyeIcon) {
            const fieldType = field.getAttribute('type');
            if (fieldType === 'password') {
                field.setAttribute('type', 'text');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                field.setAttribute('type', 'password');
                eyeIcon.classList.remove('fa-eye-slash');
            }
        }
    }
</script>

{% endblock %}