{% extends 'base.html' %}
{% block content %}
<!--LOGO -->
<div class="wrapper bg-white min-h-screen relative overflow-hidden">
    <div class="logo-container absolute left-1/2 transform -translate-x-1/2">
        <img class="h-20 w-auto" src="{{ url_for('static', filename='images/logo-coopmanati.jpg') }}"
            alt="CoopManati Logo" class="w-auto">
    </div>

    <!--HEADER BAR-->
    <div class="header-bar w-full">

        <div class="w-full h-full"
            style="left: 0px; top: 10px; position: absolute; background: var(--golden-manati, #C8AC64)">
        </div>
        <div class="w-full h-5" style="left: 0; top: 0px; position: absolute; background: var(--teal-manati, #45545F)">
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="min-h-screen flex flex-col items-center justify-center text-center px-4 pt-16 pb-24 bg-white">

        <h1 class="text-3xl font-semibold text-gray-800 mb-2">
            La página que buscas está bajo construcción.
        </h1>

        <p class="text-gray-500 mb-6">Regrese después</p>

        <button onclick="window.history.back()" class="text-white px-5 py-2 rounded-md hover:opacity-90 transition"
            style="background-color: var(--golden-manati);">
            Regresar
        </button>

    </div>


    <!--FOOTER BAR-->
    <footer class="fixed bottom-0 left-0 right-0 h-8 z-20">

        <div class="w-full h-full"
            style="left: 0; top: 0px; position: absolute; background: var(--golden-manati, #C8AC64)">
        </div>
        <div class="w-full h-full"
            style="left: 0px; top: 10px; position: absolute; background: var(--teal-manati, #45545F)">
        </div>
    </footer>

</div>
{% endblock %}